// Theme

$color-consonnant: blue;
$bg-consonnant: lighten($color-consonnant, 40%);

$bg-speaking: #ff9;
$bg-letter-speaking: darken($bg-speaking, 10%);

$color-vowel: #f64;
$bg-vowel: lighten($color-vowel, 30%);

$color-regular: black;
$bg-regular: #ddd;
$bg-active: white;
$color-disabled: gray;

/* Fonts */

@font-face {
  font-family: Alamain;
  src: url('./alamain.ttf') format('truetype');
}

/* General */

.app {
  font-family: Alamain, cursive;
  font-size: 32px;
  margin: 1em 2em;
  text-align: center;

  &.useLowerCase {
    input,
    .text,
    .letters button,
    .trackCase {
      text-transform: lowercase;
    }
  }
  &.useUpperCase {
    input,
    .text,
    .letters button,
    .trackCase {
      text-transform: uppercase;
    }
  }

  button {
    border-width: 0.1em;
    border-style: solid;
  }

  button:focus {
    outline: 0.1em dotted $color-disabled;
  }
}

/* Controls */

.letters button,
.controls button {
  width: 2em;
  height: 2em;
  margin: 0.5em;
  border-radius: 0.5em;
  border-color: $color-regular;
  font-size: 2rem;
}

.controls button {
  &.toggle {
    background: $bg-regular;
    color: $color-regular;
    border-color: $color-regular;
    min-width: 2em;
    width: auto;
  }
  &:active {
    background: $bg-active;
  }
}

/* Text input area */

.input input {
  font-size: inherit;
  border: 0.1em solid $color-disabled;
  color: $color-disabled;
  padding: 0 0.2em;
  border-radius: 0.3em;
  min-width: 27ex;
}

/* Text display */

.text {
  font-size: 2em;
  &.speaking {
    background: $bg-speaking;
  }
  span.speaking {
    // background: radial-gradient(
    //   circle closest-side at center,
    //   $bg-letter-speaking,
    //   $bg-letter-speaking 100%,
    //   transparent
    // );
    text-decoration: underline;
  }
  &.apart {
    letter-spacing: 0.2em;
  }
  .consonnant {
    color: $color-consonnant;
  }
  .vowel {
    color: $color-vowel;
  }
}

/* Letters “keyboard” */

.letters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  button {
    font-family: inherit;
    width: 3em;
    height: 3em;
    line-height: 3em;

    &.vowel:not(:disabled) {
      color: $color-vowel;
      border-color: $color-vowel;
      background: $bg-vowel;
    }
    &.consonnant:not(:disabled) {
      color: $color-consonnant;
      border-color: $color-consonnant;
      background: $bg-consonnant;
    }
    &.speaking {
      background: $bg-speaking !important;
    }

    &:disabled {
      background: $bg-regular;
      color: $color-disabled;
      border-color: $color-disabled;
    }
  }
}
